body {
    background-color: white;
    color: #000;
    font-family: "Montserrat, sans-serif";
}
        
/* Styles secrets activés par le code Konami */
.konami-activated {
    background-color: #333131; /* Fond sombre */
    color: #007bff; /* Texte bleu, pour le style "Matrix" ou ajustez selon La Plateforme_ */
}



 